# Python Virtual Environment
.venv/
__pycache__/

# Dependencies/Builds
dist/
build/
*.egg-info/

# Large Binary Files (MUST BE IGNORED)
*.pth
*.pt
*.bin
*.nc

# Sensitive Files
.env


src/MVSRD_dataset/data/
D:\sateliti\
*.jpg
*.png
*.xml
*.txt

# fisiere mari
*.pt
*.pth

# sistem
.DS_Store
Thumbs.db



# ignore mvrsd dataset
src/MVSRD_dataset/data/
*.jpg
*.png
*.xml
*.txt
*.pt
*.pth

# system crap
.DS_Store
Thumbs.db
